<h1> Create an email with Template {{ email.name }}</h1>

<p>
    {{ email.content|linebreaksbr }}
</p>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<a href="/emailing/">Home</a> 

<form action="/emailing/createdEmail/{{email.id}}/" method="post">
{% csrf_token %}
{% if variables %}
   
    {% for var in variables %}
    <label for="{{ var }}">{{ var }}: </label>
    <input id="{{ var }}" type="text" name="{{ var }}">
    {% endfor %}
   
{% else %}
    <p>No variables are found.</p>
{% endif %}

<input type="submit" value="Create">
</form>

{{ res }}